<style type="text/css">
	a, a:link, a:visited{text-decoration:none;color:#1b1b1b;}
</style>
<div align="center" style="margin:0px; padding:0px;">
  <table width="650" border="0" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px;background-color:#fcfcfc;">
    <tr>
      <td height="156" colspan="2" style="margin:0px;padding:0px;"><table width="650" border="0" cellspacing="0" cellpadding="0" style="margin:0px; padding:0px; height:156px;">
        <tr>
          <td colspan="2" bgcolor="#3a73ba" style="border-bottom:5px solid #f2f2f2; height:22px;">
            <%= image_tag "spacer.gif", :width => "1", :height => "22" %>
          </td>
        </tr>
        <tr>
          <td width="223" style="padding:0px;margin:0px;"><a href="#">
          <%= image_tag "logo.gif", :width => "199", :height => "99", :alt => "NameFrame", :longdesc => "http://nameframe.com", :style => "margin:0px;padding:0px;border:none;" %>
          </a></td>
          <td width="381" align="right" valign="middle">
          <p style="font-family:'lucida grande','lucida sans unicode', Trebuchet, tahoma,verdana,arial,sans-serif;font-size:16px;color:#43638b;margin:0 5px;letter-spacing:-1px;">For all order related inquiries please call us at</p>
          <p style="font-family:'lucida grande','lucida sans unicode', Trebuchet, tahoma,verdana,arial,sans-serif;font-size:25px;color:#000000;margin:0 5px;font-weight:bold;letter-spacing:-1px;"><%= Settings.telephone_free %></p>
          </td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td colspan="2" valign="top"><table width="650" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><p style="font-family:'lucida grande','lucida sans unicode', Trebuchet, tahoma,verdana,arial,sans-serif;font-size:34px;color:#000000;margin:0px;padding:0px;letter-spacing:-1px;"></p></td>
        </tr>
        <tr>
        	<td valign="top" style="margin:0px;padding:0px;">
            	<table width="100%" border="0" cellspacing="0" cellpadding="15">
  <tr>
    <td valign="top" bgcolor="#f4f4f4"><table width="100%" border="0" cellspacing="0" cellpadding="10">
      <tr>
        <td colspan="2" align="left" valign="top" bgcolor="#FFFFFF"><p style="font-family:'lucida grande','lucida sans unicode', Trebuchet, tahoma,verdana,arial,sans-serif;font-size:16px;color:#000000;margin:0px 0 15px 0;;padding:0px 0 15px 0;border-bottom:1px solid #f7f7f7;letter-spacing:-1px;">Dear <%= @contact.name %>, <br/><br/></p>   
        <p style="font-family:'lucida grande','lucida sans unicode', Trebuchet, tahoma,verdana,arial,sans-serif;font-size:16px;color:#000000;margin:0px 0 15px 0;;padding:0px 0 15px 0;border-bottom:1px solid #f7f7f7;letter-spacing:-1px;">You requested to change your password through our site. To do so, please <%= link_to 'Click Here', login_by_token_session_url(:token => @contact.token) %></p>
        
        <p style="font-family:'lucida grande','lucida sans unicode', Trebuchet, tahoma,verdana,arial,sans-serif;font-size:16px;color:#000000;margin:0px 0 15px 0;;padding:0px 0 15px 0;border-bottom:1px solid #f7f7f7;letter-spacing:-1px;">Please visit us again at: <i><%= root_url() %></i></p>
    	</td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#FFFFFF"><p style="font-family:'lucida grande','lucida sans unicode', Trebuchet, tahoma,verdana,arial,sans-serif;font-size:16px;color:#000000;margin:0px;padding:0px;letter-spacing:-1px;">Thank you</p>
        <p style="font-family:'lucida grande','lucida sans unicode', Trebuchet, tahoma,verdana,arial,sans-serif;font-size:26px;color:#43638b;margin:0px;padding:0px;letter-spacing:-1px;">NameFrame</p>
        </td>
      </tr>
    </table></td>
  </tr>
</table>

            </td>
        </tr>
      </table></td>
    </tr>
    <tr>
    	<td width="298" align="left" valign="top" style="padding:10px 5px;">
        	<p style="font-family:'lucida grande','lucida sans unicode', Trebuchet, tahoma,verdana,arial,sans-serif;font-size:12px;color:#606060;margin:15px 0 0 0;padding:0px;letter-spacing:-1px;">&copy; 2009 NameFrame. All Rights Reserved.</p>
            <p style="font-family:'lucida grande','lucida sans unicode', Trebuchet, tahoma,verdana,arial,sans-serif;font-size:12px;color:#606060;margin:0;padding:0px;letter-spacing:-1px;"><a href="#">Terms of Service</a> &nbsp; | &nbsp; <a href="#">Privacy Policy</a> &nbsp; | &nbsp;  <a href="#">Contact Us</a></p>
        </td>
    	<td width="332" align="right" style="padding:10px 0;"><table width="100%" border="0" cellspacing="0" cellpadding="5">
    	  <tr>
    	    <td width="77%" align="right" valign="top">
    	      <a href="#">
    	        <%= image_tag "verisign.gif", :width => "160", :height => "77", :alt => "Verisign", :border => "0" %>
    	      </a>
    	    </td>
    	    <td width="23%">
    	      <a href="#">
    	        <%= image_tag "bbb.gif", :width => "47", :height => "77", :alt => "BBB Online", :border => "0" %>
    	      </a>
    	    </td>
  	    </tr>
  	  </table>
        	
        </td>
    </tr>
  </table>
</div>
