<div class="flex-container" id="flex-container">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" id="NameFrame" width="900" height="700">
            <param name="movie" value="/flex/NameFrame.swf" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#ffffff" />
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="flashVars" value="nameframe_uuid=<%= @nameframe.uuid %>&amp;font=<%= @nameframe.font.name %>&amp;name=<%= @nameframe.selected_text %>"/>
            <embed src="/flex/NameFrame.swf" quality="high" bgcolor="#ffffff"
                    width="900" height="700" name="NameFrame" align="middle"
                    play="true"
                    loop="false"
                    quality="high"
                    allowScriptAccess="sameDomain"
                    type="application/x-shockwave-flash"
                    pluginspage="http://www.adobe.com/go/getflashplayer"
                    flashVars="nameframe_uuid=<%= @nameframe.uuid %>&amp;font=<%= @nameframe.font.name %>&amp;name=<%= @nameframe.selected_text %>" />
    </object>
</div>

