<% if @header_image -%>
<%= link_to image_tag ("logo.gif", :width => "206", :height => "104", :alt => "Nameframe", :class =>"edit-margin"), root_path, :class => "logo span-7 column append-2" %>
          <p class="header-image span-19 column append-1">
             <%= image_tag (@header_image, :width => "365", :height => "119", :alt => "Nameframe", :class =>"left")%><br />
             <%= @header_image_text%>
         </p>
          <%= render :partial=> "/shared/social_voice", :locals=>{}%>
<% else -%>
<%= link_to image_tag ("logo.gif", :width => "206", :height => "104", :alt => "Nameframe", :class =>"edit-margin"), root_path, :class => "logo span-8 column append-21" %>
          <% if @media==1%>
          <div style="position:absolute;left:490px;top:40px;">
             <%= image_tag ("ethan_small.jpg",  :alt => "Nameframe", :class =>"")%>
          </div>
          <% end%>
          <%= render :partial=> "/shared/social_voice", :locals=>{}%>
          
<% end -%>

